.city_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.city_input__label {
    display: none;
}

.city_input__input {
    border: none;
    border-bottom: 1px solid #bfbfbf;
    background-color: #1b1e23;
    font-size: 1.125em;
    transition: border .4s;
    height: 60px;
    width: 210px;
    outline: none;
    color: white;
    z-index: 1;
}

.city_input__input:focus {
    border-bottom: 1px solid white;
}

.city_input__input--invalid {
    border-bottom: 1px solid red;
}

.city_input__button {
    margin-top: 20px;
    width: 210px;
    position: relative;
    display: inline-block;
    padding: 20px 52px;
    background-color: #329da8;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    z-index: 1;
    border: none;
    outline: none;
    transition: background-color .4s;
    overflow: hidden;
}

.city_input__button::before {
    content: '';
    position: absolute;
    top: -40%;
    right: 110%;
    width: 30px;
    height: 200%;
    background-color: white;
    transform: rotate(20deg);
}

.city_input__button:hover {
    cursor: pointer;
    background-color: #39b3bf;
}

.city_input__button:hover::before {
    right: -50%;
    transition: all .5s ease;
}

.clocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clocks .clocks__headline {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clocks .clocks__headline span:first-child {
    margin-right: 15px;
}

.clocks .clocks__headline span {
    word-wrap : break-word;
}

.clocks .clocks__timediff {
    color: #329da8;
}

@media (max-width: 400px) {
    .clocks .clocks__timediff {
        font-size: 28px;
    }
}

.clock {
    margin-bottom: 80px;
    transition: transform .4s;
}

.clock:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes bounce {
    0%   { transform: translateY(-50px); }
    10%  { transform: translateY(0); }
    15%  { transform: translateY(-7px); }
    25% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.error {
    box-sizing: border-box;
    width: 210px;
    background-color: red;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity .4s, height .4s, padding .4s;
    height: 0;
    padding: 0;
}

.error.visible {
    height: 48px;
    padding: 15px;
    opacity: 1;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
}